
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Ubuntu&display=swap');

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body , html{
  overflow-x: hidden !important;
}
code {
  font-family: 'Manrope', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
